{% block content %}
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    h2 {
      color: #333;
      text-align: center;
      margin-top: 10%;
    }
    form {
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }
    form button {
      background-color: #5CC0EF;
      color: #fff;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
    }
    form button:hover {
      background-color: #5CC0EF;
    }
    form p {
      margin-bottom: 15px;
    }
  </style>
  <h2>新しいパスワードを設定してください</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">パスワードを変更</button>
  </form>
{% endblock %}
