{% extends "base.html" %}
{% load static %}
{% block title %}アカウント情報編集{% endblock %}

{% block style %}
  body {
    font-family: Arial, sans-serif;
    background-color: white;
  }


  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 28px;
    padding-top: 20px;
  }

  {% comment %} ユーザー名 {% endcomment %}
  .username {
    border: none;
    order-bottom: solid 1.5px black;
    width: 1085px;
    padding: 20px;
    margin-bottom: 15px;
  }
  {% comment %} 学科 {% endcomment %}
  .department_u {
    width: 470px;
    height: 60px;
  }

  .department {
    margin: 40px 80px 40px 30px;
  }

  {% comment %} 学年 {% endcomment %}
  .grade_u{
    width: 195px;
    height: 60px;
  }

  .grade {
    margin: 40px 120px;
  }

  select{
    font-size: 22px;
  }

  .study {
    display: flex;
  margin: 0 auto;
  }
          
  {% comment %} 得意言語 {% endcomment %}
  .skile {
    width: 1085px;
    padding: 8px;
    margin-bottom: 15px;
  }

  {% comment %} 進路 {% endcomment %}
  .career {
    width: 1085px;
    padding: 8px;
    margin-bottom: 15px;
  }

  {% comment %} 備考 {% endcomment %}
  textarea {
    resize: vertical;
    height: 179px;
    width: 1085px;
    padding: 8px;
    margin-bottom: 15px;
  }
          
  .keep {
    margin: 40px 500px;
  }
  .button{
    background-color: #4fc3f7;
    color: white;
    border: none;
    padding: 8px 45px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }

  .imag{
    background-color: #4fc3f7;
    color: white;
    border: none;
    padding: 5px 40px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }

  form{
    padding: 70px;
  }
{% endblock %}

{% block content %}
  <form method="POST" enctype="multipart/form-data" action="{% url "account:edit_user" %}">
    {% csrf_token %}

    <div class="textbox">
      <label>得意言語</label>
      {{ form.language.as_widget }}

      <label>進路</label>
      {{ form.career.as_widget }}

      <label>備考</label>
      {{ form.my_ditail.as_widget }}
    </div>
  
    <div class="keep">
      <input type="submit"  value"保存" class="button">
    </div>
  </form>
{% endblock  %}